








  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
  
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    
  }

  .c{
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid grey;
    padding: 100px;
}
.inputcont{
    margin-bottom: 10px;
   
}


